<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>151675048577-oe4qhcau4bvt5pk38saacbls2si2qb10.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.151675048577-oe4qhcau4bvt5pk38saacbls2si2qb10</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>151675048577-va4mupck6k3cg6ierhk5t5mb8c0ks389.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAYGP5ecKwHn1imgkerK8bk_avLN7xS8RE</string>
	<key>GCM_SENDER_ID</key>
	<string>151675048577</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.isdp</string>
	<key>PROJECT_ID</key>
	<string>isdp-69f98</string>
	<key>STORAGE_BUCKET</key>
	<string>isdp-69f98.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:151675048577:ios:43d8a8a6900d5db493f380</string>
</dict>
</plist>